
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1, h2, h3 {
    font-family: @primairyfont;
    letter-spacing: 1px;
}

p, a, li, input,span, button,table  {
    font-family: @textfont;
    letter-spacing: 1px;
    text-decoration: none;
}



@primairyOrange : #ff7e1a;
@secondairyOrange : #f46c0f;
@headerColor : #394041;
@textColor : #858585;
@primairyfont : 'Montserrat', sans-serif;
@textfont : 'Roboto', sans-serif;

.app-interface {
    width: 100%;
    height: 100%;
}


// MENU BAR ################################################################################################################################################################
.top-ui-bar {
    width: 100%;
    .flex;
    background-color: @secondairyOrange;
    height: 75px;
    position: fixed;
    z-index: 999;

    .center {
        width: 95%;
        .flex;
        justify-content: flex-start;
    }

    a {
        color: white;
        .flex;

        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }

    .menu-toggle {
        .stripe {
            width: 25px;
            height: 4px;
            background-color: white;
            margin-bottom: 4px;
            border-radius: 8px;
        }
    }

    .welcome-ui-box {
        margin-left: 30px;
        color: white;
        font-size: 16px;
    }

    .overlay {
        width: 100%;
        background-color: rgba(0,0,0,0.65);
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        transition: opacity .3s ease;
        visibility: hidden;
        z-index: 99;
    }
}

// MENU ################################################################################################################################################################
#menu {
    width: 300px;
    position: fixed;
    height: 100vh;
    background-color: #f0ebeb;
    top: 0;
    .flex;
    align-content: flex-start;
    transition: .3s ease;
    z-index: 999;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);

    .top-bar {
        background-color: @primairyOrange;
        color: white;
        font-size: 38px;
        .flex;
        justify-content: flex-start;
        width: 100%;
        height: 75px;

        i {
            margin-left: 20px;
            font-size: 32px;
        }
    }

    .menu-bar {
        width: 90%;
        margin-top: 40px;
        a {
            padding: 20px 0;
            width: 100%;
            margin-bottom: 2px;
            background-color: white;
            color: #7a7a7a;
            .flex;
            justify-content: flex-start;
            cursor: pointer;

            i {
                font-size: 24px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    #logout {
        background-color: transparent;
        outline: none;
        border: none;
        margin-top: 30px;
        color: @headerColor;
        cursor: pointer;
        .flex;

        i {
            font-size: 32px;
        }

        span {
            font-size: 16px;
            margin-left: 10px;
        }
    }
}

.hidden {
    left: -300px;
}

.visible {
    left: 0px;
}

// MENU UNDERNEATH HEADER #########################################################################################################################################
.content-ui-menu {
    padding: 20px 0;
    width: 100%;
    background-color: #f7f7f7;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        .flex;

        li {
            margin: 0 25px;
            color: #7a7a7a;
            cursor: pointer;
            font-size: 14px;
        }

        .active, .selected {
            color: @primairyOrange;
            font-weight: 700;
        }
    }
}

// CONTENT ########################################################################################################################################################
.content-ui-box {
    margin-top: 75px;
    width: 100%;
}

.page-ui-index {
    width: 100%;
    height: 350px;
    background-image: url('../../img/header.jpg');
    .flex;
    
    .shadow-box {
        width: 100%;
        height: 100%;
        .flex;

        h1 {
            margin: 0;
            color: white;
            font-size: 38px;
        }
    }
}

// SKELETON LOADER ##################################################################################################################################################

.skeleton-loader {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;;

    @keyframes pulse {
        0% {
        background-position: 0% 0%;
        }
        100% {
        background-position: -135% 0%;
        }
    }

    .skeleton-line {
        width: 5.5em;
        border-radius: 5px;

        &::before {
            content: "\00a0";
        }
    }
}

// ERROR BAR STYLING 

.error-bar {
    background-color: #cf000f;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    .flex;
    color: white;
}

// RECIPE COMPONENT MAIN ############################################################################################################################################
#recipes {
    .flex;
    .center {
        width: 55%;
    }

    .animate-on-change {
        width: 100%;
        opacity: 1;
    }

    .recipe-card {
        max-width: unset;
        width: 100%;
        margin-top: 50px;
        .flex;
        justify-content: space-between;
        .img-container {
            width: 65%;
            height: 450px;
            position: relative;

            img {
                width:100%;
                height:100%;
                object-fit:cover;
                border-radius: 10px;
            }
        }
    
        .recipe-data {
            width: 30%;

            h2 {
                font-size: 34px;
                margin-top: 0px;
                position: relative;
                .flex;
                justify-content: flex-start;
                min-height: 40px;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    color: @textColor;
                    margin: 20px 0;
                    font-size: 18px;
                    .flex;
                    justify-content: flex-start;
                    position: relative;
                    height: 30px;

                    i {
                        font-size: 28px;
                        margin-right: 15px;
                    }
                }
            }

            .btn {
                display: inline-flex;
                margin-top: 25px;
                min-width: 225px;
                position: relative;
            }
        }
    }

    .additional-data {
        width: 100%;
        padding: 20px 0;
        border: 2px solid #dedede;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 10px;
        .flex;
        align-content: flex-start;

        h3 {
            font-size: 22px;
            color: #2e2e2e;
            min-height: 35px;
            margin-top: 0px;
            position: relative;
            margin-right: 40px;
            margin-bottom: 15px;
        }

        .left-view {
            width: 40%;
            border-right: 1px solid #dedede;
            margin-left: 2.25%;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-right: 40px;

                li {
                    color: #7a7a7a;
                    margin: 8px 0;
                    position: relative;
                    min-height: 25px;
                    .flex;
                    justify-content: flex-start;

                    &:first-child {
                        margin-top: 0px;
                    }

                    &:last-child {
                        padding-top: 15px;
                        margin-bottom: 0px;
                        font-weight: bold;
                    }
                }
            }
        }

        .right-view {
            width: 50%;
            margin-left: 5%;

            table {
                width: 92%;
                tbody {
                    tr {
                        border: none;
                        &:nth-child(odd) {
                            background-color: #eee;
                        }

                        th,td {
                            padding: 8px 0 8px 15px;
                            height: 35px;
                            position: relative;

                            &:last-child {
                                text-align: right;
                                padding: 10px 20px 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// DIET & ALLERGY COMPONENT #########################################################################################################
#allergies, #diets, #groceries {
    .flex;
    .center {
        margin-top: 50px;
        width: 70%;

        p {
            color: @textColor;
            line-height: 25px;
            margin: 0px 0 35px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                .flex;
                justify-content: space-between;
                margin: 30px 0;
                padding: 10px 0 40px 0;
                border-bottom: 1px solid #dedede;

                span {
                    color: @headerColor;
                }

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}

// SETTINGS COMPONENT STYLING ########################################################################################################
#settings {
    .flex;
    .center {
        margin-top: 50px;
        width: 30%;
        margin-bottom: 50px;
    }

    p {
        color: @textColor;
        line-height: 25px;
        margin: 0px 0 35px;
    }

    #output-response {
        font-size: 16px;
        margin-top: 10px;
        .flex;
        justify-content: flex-start;
        color: #7a7a7a;
        width: 100%;
        text-align: left;

        i {
            display: inline-flex !important;
            margin-right: 5px;
            font-size: 18px;
        }
    }

    .error, .false {
        color: #cf000f !important;

        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f071";
            margin-right: 10px;
        }
    }

    .succes, .true {
        color: #3fc380 !important;

        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f00c";
            margin-right: 10px;
        }
    }

    input {
        width: 100%;
        padding: 12px 0 12px 10px;
        border: 1px solid #dedede;
        color: #6c7a89;
        font-size: 16px;
        outline: none;
        background-color: #eee;
    }

    label {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 5px;
        color: #7a7a7a;
        font-size: 15px;
        width: 100%;

        &:first-child {
            margin-top: 0px;
        }
    }

    .btn {
        display:inline-flex;
        min-width: 225px;
    }

    form {
        .flex;

        .outer-container {
            width: 100%;
        }

        .input-holder {
            width: 100%;
        }
    }

    #del-account {
        .flex;
        .btn {
            margin-top: 0px;
        }
    }

    .delete-account-submit {
        background-color: #f9f9f9;
        margin-top: 40px;
        width: 100%;
        padding: 30px 0;
        outline: 1px solid #dedede;
        display: none;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        .top-bar {
            width: 100%;
            .flex;
            justify-content: space-between;
            margin-bottom: 20px;
            i {
                font-size: 22px;
                color: #7a7a7a;
            }
        }

        .inner {
            width: 90%;

            .input-holder {
                background-color: white;

                input {
                    background-color: white;
                }
            }
        }

        h3 {
            color: #2e2e2e;
            font-size: 18px;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .extra-info {
            margin-bottom: 25px;
        }

        .btn {
            margin-top: 20px !important;
        }
    }
}

// RECIPE VIEW #######################################################################################################################
#recipe-view {
    .return-to-view {
        background-color: @secondairyOrange;
        height: 75px;
        .flex;
        position: fixed;
        z-index: 9999;
        width: 100%;

        .center {
            width: 95%;

            a {
                color: white;
                .flex;
                display: inline-flex;

                i {
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
        }
    }

    .page-ui-index {
        height: 150px;
        margin-top: 75px;
    }

    .content-ui-box {
        width: 100%;
        .flex;
        .center {
            width: 70%;
        }
    }

    .general-information {
        width: 100%;
        .flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .recipe-image {
            width: 50%;
            height: 475px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .recipe-info {
            width: 45%;

            .favorite {
                margin-bottom: 25px;
                display: inline-flex;

                i {
                    font-size: 24px;
                    color: @primairyOrange;
                }
            }

            h1 {
                margin: 0;
                padding: 0;
                color: @headerColor;
                font-size: 36px;
            }

            .tag-container {
                width: 100%;
                margin-top: 25px;
                .flex;
                justify-content: flex-start;

                .tag {
                    background-color: #f2f1ef;
                    margin: 0 8px;
                    padding: 15px 15px;
                    border-radius: 5px;
                    font-size: 15px;

                    &:first-child {
                        margin-left: 0px;
                    }

                }
            }

            #basic-info {
                .flex;
                width: 100%;
                justify-content: flex-start;
                padding: 0;
                margin: 45px 0 0 0;
                list-style: none;

                li {
                    margin: 0 25px;

                    &:first-child {
                        margin-left: 0px;
                    }
                    i {
                        width: 100%;
                        text-align: center;
                        font-size: 34px;
                        color: @headerColor;
                    }

                    span {
                        width: 100%;
                        .flex;
                        margin-top: 15px;
                        font-size: 16px;
                        color: @headerColor;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .recipe-specific {
        width: 100%;
        .flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .ingredients {
            width: 30%;
            border: 2px solid #dedede;
            border-radius: 10px;
            align-self: flex-start;

            .center {
                padding: 30px 0 !important;
            }

            ul {
                list-style-type: none;
                margin: 25px 0 0 0;
                padding: 0;

                li {
                    width: 100%;
                    color: #7a7a7a;
                    margin: 15px 0;
                    .flex;
                    justify-content: flex-start;
                }
            }
        }

        .col-recipe {
            .flex;
            align-items: flex-start;
            .center {
                width: 80%;
                padding: 20px 0;

                h2 {
                    font-size: 22px;
                    color: @headerColor;
                    margin-top: 0px;
                }

                input[type=checkbox] {
                    opacity: 0;
                    z-index: 10;
                    width: 100%;
                    position: absolute;
                    cursor: pointer;
                }

                li {
                    position: relative;
                }

                input[type=checkbox]:checked ~ .checkmark {
                    i {
                        display: flex;
                        color: @primairyOrange;
                    }
                }

                .checkmark {
                    width: 25px;
                    height: 25px;
                    background-color: white;
                    border:1px solid #dedede;
                    position: absolute;
                    transition: 0.2s;
                    border-radius: 2.5px;
                    cursor: pointer;
                    pointer-events: none;
                    .flex;

                    i {
                        color: white;
                        display: none;
                        pointer-events: none;
                    }
                }

                .grocery-item {
                    margin-left: 45px;
                }
            }
        }
    
        .instructions {
            width: 67.5%;
            border: 2px solid #dedede;
            border-radius: 10px;
            align-self: flex-start;

            .center {
                width: 90%;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    .flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 15px 0;

                    .instruction-key {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background-color: @primairyOrange;
                        .flex;
                        color: white;
                    }

                    span {
                        width: 90%;
                        margin-left: 15px;
                        color: #7a7a7a;
                        line-height: 20px;
                        margin-top: 9px;
                    }
                }
            }
        }

        .nutrition {
            width: 100%;
            margin-top: 35px;
            border: 2px solid #dedede;
            border-radius: 10px;

            .center {
                width: 94%;
                padding: 30px 0;
            }

            table {
                width: 100%;
                tbody {
                    tr {
                        border: none;
                        &:nth-child(odd) {
                            background-color: #eee;
                        }

                        th,td {
                            padding: 8px 0 8px 15px;

                            &:last-child {
                                text-align: right;
                                padding: 10px 20px 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// TOGGLE INPUT STYLING ##############################################################################################################

//Toggles {
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 10;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
}

.slider {
    position: absolute;
    outline: none;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: @primairyOrange;
    outline: none;
}

input:focus + .slider {
    box-shadow: 0 0 1px @primairyOrange;
    outline: none;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    outline: none;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// GENERATE SCREEN ***************************************************************************************************************************************
.generate-view {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: @primairyOrange;
    z-index: 999;
    .flex;

    .centered {
        width: 60%;
        .flex;
    }

    h1 {
        color: white;
    }

    span {
        color: white;
        text-align: center;
        line-height: 25px;
    }

    .content {
        width: 100%;
        .flex;
    }

    .close-generation-screen {
        position: absolute;
        top: 20px;
        left: 50px;
        
        i {
            color: white;
            font-size: 38px;
        }
    }

    .recipe-display {
        width: 100%;
        .flex;
        margin-top: 50px;

        .recipe-illustrations {
            .flex;
            list-style: none;
            width: 100%;
            justify-content: space-between;
            padding-left: 0px;

            li {
                background-color: white;
                width: 150px;
                height: 150px;
                .flex;
                border-radius: 10px;

                i {
                    color: @headerColor;
                    font-size: 46px;
                }
            }
        }

        .btn {
            background-color: white;
            color: @primairyOrange;
            font-weight: bold;
        }
    }

    .animate-on-change {
        width: unset !important;
    }

    .roulette-wheel {
        width: 550px;
        height: 550px;
        margin-top: 50px;
        border-radius: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .roulette-trigger {
            width: 165px;
            height: 165px;
            position: absolute;
            background-color: @primairyOrange;
            margin: auto;
            border-radius: 100%;
            top: 0; left: 0; bottom: 0; right: 0;
            cursor: pointer;
            .flex;

            h2 {
                color: white;
                font-size: 20px;
            }
        }

        .spin-animate {
            -webkit-animation-name: spinner; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
            -webkit-animation-iteration-count:  1;
            animation-timing-function: ease-out;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes spinner {
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
        }
        
        /* Standard syntax */
        @keyframes spinner {
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
        }
    }
}

.request-generation {
    .flex;
    margin-top: 75px;

    .icon {
        width: 100%;
        .flex;
        i {
            font-size: 68px;
            color: @primairyOrange;
        }
    }

    h2 {
        color: @headerColor;
        text-align: center;
    }
}

// GROCERY SCREEN *************************************************************************************************************************

#groceries {
    .index-bar {
        width: 100%;
        .flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .btn {
        margin-top: 0px;

        i {
            color: white;
            font-size: 18px;
        }
    }

    .info {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background-color: #dedede;
        border-radius: 100%;
        color: white;
    }

    ul {
        li {
            position: relative;
        }
    }

    .grocery-item {
        width: 100%;
        cursor: pointer;
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }

    input[type=checkbox]:checked ~ .checkmark {
        i {
            display: flex;
            color: @primairyOrange;
        }
    }

    .checkmark {
        width: 25px;
        height: 25px;
        background-color: white;
        border:1px solid #dedede;
        position: absolute;
        transition: 0.2s;
        border-radius: 2.5px;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        right: 0;
        .flex;

        i {
            color: white;
            display: none;
            pointer-events: none;
        }
    }
}

// POP UP MESSAGE ************************************************************************************************

.mdc-snackbar {
    position: fixed;
    bottom: 35px;
    right: 35px;
    .flex;
    padding: 0 35px;
    font-family: @textfont;
    color: white;
    border-radius: 100px;
    z-index: 999;

    .mdc-snackbar__surface {
        .flex;
        justify-content: space-between;
        position: relative;
        height: 100%;
        padding: 20px 0;

        button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 18px;
            margin-left: 10px;
            height: 35px;
            width: 35px;
            outline: none;
            border-radius: 100%;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                background-color: #2aa266;
            }
        }

        &:after {
            content: "";
            width: 0;
            height: 7.5px;
            background-color: black;
            position: absolute;
            opacity: 0.2;
            bottom: 0;
            left: 0;
            animation: loader 10s linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes loader {
            from {width: 0;}
            to {width: 100%;}
        }
        
        /* Standard syntax */
        @keyframes loader {
            from {width: 0;}
            to {width: 100%;}
        }
    }
}

.succes {
    background-color: #3fc380;
}

.failed {
    background-color: #d32f2f;
}

@media only screen and (max-width: 1400px) {
    #recipes {
        .center {
            width: 75%;
        }
    }

    #recipe-view {
        .content-ui-box {
            margin-bottom: 75px;
            .center {
                width: 85%;
            }
        }

        .general-information {
            .recipe-image {
                height: 400px;
            }
        }

        .recipe-specific {
            margin-bottom: 0px;
        }

        .btn {
            span {
                font-size: 15px;
            }
        }
    }
    #settings {
        .center {
            width: 45%;
        }
    }
}

@media only screen and (max-width: 1370px) and (min-width: 1025px) {
    .generate-view {
        .close-generation-screen {
            left: 25px;
        }

        .centered {
            width: 70%;
        }

        h1 {
            line-height: 30px;
            font-size: 30px;
        }

        .roulette-wheel {
            margin-top: 15px;
        }

        span {
            line-height: 24px;
            font-size: 18px;
        }

        .roulette-wheel {
            width: 475px;
            height: 475px;

            .roulette-trigger {
                width: 140px;
                height: 140px;
            }
        }

        .recipe-display {
            margin-top: 25px;
            .recipe-illustrations {
                justify-content: center;
                li {
                    width: 110px;
                    height: 110px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .page-ui-index {
        height: 300px;
    }

    #recipes {
        .center {
            width: 90%;
        }

        .recipe-card {
            .img-container {
                width: 55%;
                height: 350px;
            }

            .recipe-data {
                width: 40%;

                .btn {
                    max-width: 250px;
                }
            }
        }
    }

    #recipe-view {
        .center {
            width: 90% !important;
        }

        .ingredients {
            .center {
                width: 80% !important;
            }
        }

        .general-information {
            .recipe-image {
                height: 300px;
            }

            .recipe-info {
                .favorite {
                    margin-bottom: 15px;
                }
                h1 {
                    font-size: 30px;
                }
                .tag-container {
                    margin-top: 10px;

                    .tag {
                        padding: 12px 12px;
                        font-size: 14px;
                    }
                }

                #basic-info {
                    margin-top: 30px;
                    li {
                        margin: 0 15px;

                        i {
                            font-size: 28px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    #settings {
        .center {
            width: 60% !important;
        }
    }

    .generate-view {
        .close-generation-screen {
            left: 25px;
        }

        .centered {
            width: 720px;
        }

        h1 {
            line-height: 44px;
            font-size: 38px;
        }

        .recipe-display {
            .recipe-illustrations {
                justify-content: flex-start;
                li {
                    width: 170px;
                    height: 170px;
                    margin-bottom: 13px;
                    margin-right: 13px;

                    i {
                        font-size: 58px;
                    }

                    &:nth-child(4n +4) {
                        margin-right: 0px;
                    }
                }
            }
        }

        span {
            line-height: 24px;
            font-size: 18px;
        }

        .roulette-wheel {
            width: 650px;
            height: 650px;

            .roulette-trigger {
                width: 190px;
                height: 190px;
            }
        }
    }
}

@media only screen and(max-width: 1024px) and (min-width: 769px) and(orientation: landscape) {
    .generate-view {
        .close-generation-screen {
            left: 25px;
        }

        .centered {
            width: 70%;
        }

        h1 {
            line-height: 35px;
            font-size: 30px;
        }

        .roulette-wheel {
            margin-top: 15px;
        }

        span {
            line-height: 24px;
            font-size: 17px;
        }

        .roulette-wheel {
            width: 475px;
            height: 475px;

            .roulette-trigger {
                width: 140px;
                height: 140px;
            }
        }

        .recipe-display {
            margin-top: 25px;
            .recipe-illustrations {
                justify-content: center;
                li {
                    width: 145px;
                    height: 145px;
                    margin-bottom: 13px;
                    margin-right: 13px;

                    &:nth-child(4n +4) {
                        margin-right: 0px;
                    }
                }
            }
        }   
    }
}

@media only screen and(max-width: 768px) and (min-width: 632px) {
    .page-ui-index {
        height: 250px;
    }

    .content-ui-menu {
        padding: 0;
        ul {
            height: 100%;
            display: block;
            margin-left: 5%;
            white-space: nowrap;
            overflow-x: scroll;
            
            &::-webkit-scrollbar {
                display: none;
            }

            li {
                padding: 20px 0;
                display: inline-block;

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }
        }
    }

    #recipes {
        .center {
            width: 90%;
        }

        .recipe-card {
            .img-container {
                width: 55%;
                height: 300px;
            }

            .recipe-data {
                width: 40%;

                h2 {
                    font-size: 28px;
                }

                ul {
                    li {
                        font-size: 16px;

                        i {
                            font-size: 22px;
                        }
                    }
                }

                .btn {
                    max-width: 200px;
                    padding: 15px 40px;
                    min-width: unset;
                    display: inline-flex;
                    margin-top: 10px;
                    min-width: 150px;
                }
            }
        }
    }

    #recipe-view {
        .page-ui-index {
            display: none;
        }

        .content-ui-box {
            margin-bottom: 30px;
        }

        .general-information {
            margin-bottom: 30px;
            .recipe-image {
                width: 100%;
                position: absolute;
                left: 0;
                top: 75px;
                height: 350px;

                img {
                    border-radius: 0;
                }
            }

            .recipe-info {
                width: 100%;
                margin-top: 200px;
                z-index: 999;
                

                &:after {
                    width: 100%;
                    height: 250px;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 175px;
                    z-index: 10;
                    background: linear-gradient(to bottom, transparent 0%, black 100%);
                }
                
                h1 {
                    color: white;
                    font-size: 34px;
                    position: relative;
                    z-index: 999;
                }

                .favorite {
                    margin-bottom: 10px;
                    i {
                        color: white;
                    }
                    position: relative;
                    z-index: 999;
                }

                .tag-container {
                    margin-top: 10px;
                    position: relative;
                    z-index: 999;

                    .tag {
                        background-color: white;
                        padding: 10px 15px;
                        font-size: 14px;
                    }
                }

                #basic-info {
                    margin-top: 15px;
                    width: 100%;
                    background-color: #f7f7f7;
                    border-radius: 5px;
                    padding: 15px 0;
                    position: relative;
                    z-index: 999;

                    li {
                        width: unset;
                        .flex;
                        justify-content: flex-start;
                        
                        &:first-child {
                            margin-left: 20px;
                        }

                        i {
                            width: unset;
                            font-size: 22px;
                        }

                        span {
                            width: unset;
                            font-size: 15px;
                            margin-top: 0px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .recipe-specific {
            border: 2px solid #dedede;
            border-radius: 5px;
            .ingredients {
                width: 100%;
                border: none;
                .center {
                    width: 90%;
                }
            }

            .instructions {
                width: 100%;
                border: none;

                ul {
                    margin-bottom: 0px;

                    li {
                        &:last-child {
                            margin-bottom: 0px;
                        }

                        .instruction-key {
                            width: 30px;
                            height: 30px;
                        }

                        span {
                            margin-top: 4.5px;
                        }
                    }
                }
            }

            .nutrition {
                width: 100%;
                border: none;
                margin-top: 0px;
            }
        }
    }

    #settings {
        .center {
            width: 70% !important;
        }

        .content-ui-menu {
            ul {
                display: flex;
            }
        }
    }

    .generate-view {
        .close-generation-screen {
            left: 25px;
        }

        .centered {
            width: 80%;
        }

        h1 {
            font-size: 30px;
            line-height: 40px;
        }

        span {
            font-size: 18px;
            line-height: 24px;
        }

        .recipe-display {
            margin-top: 25px;
            .recipe-illustrations {
                justify-content: center;
                li {
                    width: 140px;
                    height: 140px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and(max-width: 630px) and (min-width: 320px) {
    .page-ui-index {
        height: 200px;
        background-position: 20% center;
        background-size: 100%;

    .shadow-box 
        h1 {
            font-size: 32px;
            width: 100%;
            text-align: center;
        }
    }

    .content-ui-menu {
        padding: 0;
        ul {
            height: 100%;
            display: block;
            margin-left: 5%;
            white-space: nowrap;
            overflow-x: scroll;
            
            &::-webkit-scrollbar {
                display: none;
            }

            li {
                padding: 20px 0;
                display: inline-block;

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }
        }
    }

    #recipes {
        .center {
            width: 90%;
        }

        .recipe-card {
            margin-top: 30px;
            margin-bottom: 30px;
            .img-container {
                width: 100%;
                height: 225px;
            }

            .recipe-data {
                width: 100%;
                margin-top: 30px;

                h2 {
                    font-size: 32px;
                }

                .content-spacer {
                    .flex;

                    ul {
                        justify-self: flex-start;
                    }
                }
            }

            .additional-data {
                display: none;
            }
        }
    }

    #recipe-view {
        .page-ui-index {
            display: none;
        }

        .return-to-view {
            padding-top: env(safe-area-inset-top);
            height: unset;

            .center {
                height: 75px;
                .flex;
                justify-content: flex-start;
                transition: 0.3s;
            }
        }

        .content-ui-box {
            margin-bottom: 35px;
            margin-top: 75px;
        }

        .general-information {
            margin-bottom: 40px;

            .recipe-image {
                position: absolute;
                padding-top: env(safe-area-inset-top);
                left: 0px;
                top: 75px;
                width: 100%;
                height: 300px;

                img {
                    border-radius: 0px;
                }
            }

            .recipe-info {
                margin-top: 335px;
                width: 100%;

                .favorite {
                    margin-bottom: 15px;
                }

                h1 {
                    font-size: 32px;
                }

                .tag-container {
                    width: 100%;
                    .flex;
                    justify-content: flex-start;
                    .tag {
                        margin: 0 5px;
                        padding: 12px 10px;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }

                #basic-info {
                    margin-top: 20px;
                    .flex;
                    justify-content: space-between;
                    li {
                        width: 32%;
                        margin-left: 0px;
                        margin-right: 0px;

                        i {
                            font-size: 22px;
                        }

                        span {
                            font-size: 3.6vw;
                        }
                    }
                }
            }
        }

        .recipe-specific {
            border: 2px solid #dedede;
            border-radius: 5px;
            .nutrition, .ingredients, .instructions {
                border: none;
                width: 100%;
            }

            .instructions {
                ul {
                    margin-bottom: 0;
                    li {
                        .instruction-key {
                            height: 35px;
                            width: 35px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        span {
                            width: 80%;
                            margin-top: 7.5px;
                        }
                    }
                }
            }

            .nutrition {
                margin-top: 0px;

                table {
                    tbody {
                        tr {
                            td {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .generate-view {
        display: unset;
        min-height: 100vh;
        height: unset;
        .close-generation-screen {
            padding-top: env(safe-area-inset-top);
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            margin-top: 25px;
            height: 25px;

            i {
                font-size: 22px;
                left: 25px;
                position: relative;
            }
        }

        .animate-on-change {
            width: 90% !important;
        }

        .centered {
            width: 100%;
            align-items: flex-start;
            margin-top: 50px;

            .content {
                width: 100%;
            }
        }

        .recipe-display {
            margin-top: 25px;
            .recipe-illustrations {
                .flex;
                li {
                    display: none;
                    width: 200px;
                    height: 200px;

                    i {
                        font-size: 82px;
                    }

                    &:nth-child(2) {
                        display: flex;
                    }
                }
            }
        }

        h1 {
            line-height: 35px;
            font-size: 30px;
        }

        .roulette-wheel {
            margin-top: 15px;
        }

        span {
            line-height: 24px;
            font-size: 17px;
        }

        .roulette-wheel {
            width: 350px;
            height: 350px;

            .roulette-trigger {
                width: 105px;
                height: 105px;

                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}