.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
p,
a,
li,
input,
span,
button,
table {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}
.app-interface {
  width: 100%;
  height: 100%;
}
.top-ui-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f46c0f;
  height: 75px;
  position: fixed;
  z-index: 999;
}
.top-ui-bar .center {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.top-ui-bar a {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-ui-bar a i {
  font-size: 24px;
  margin-right: 10px;
}
.top-ui-bar .menu-toggle .stripe {
  width: 25px;
  height: 4px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 8px;
}
.top-ui-bar .welcome-ui-box {
  margin-left: 30px;
  color: white;
  font-size: 16px;
}
.top-ui-bar .overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
  z-index: 99;
}
#menu {
  width: 300px;
  position: fixed;
  height: 100vh;
  background-color: #f0ebeb;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  transition: 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#menu .top-bar {
  background-color: #ff7e1a;
  color: white;
  font-size: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
}
#menu .top-bar i {
  margin-left: 20px;
  font-size: 32px;
}
#menu .menu-bar {
  width: 90%;
  margin-top: 40px;
}
#menu .menu-bar a {
  padding: 20px 0;
  width: 100%;
  margin-bottom: 2px;
  background-color: white;
  color: #7a7a7a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
#menu .menu-bar a i {
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
#menu #logout {
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 30px;
  color: #394041;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#menu #logout i {
  font-size: 32px;
}
#menu #logout span {
  font-size: 16px;
  margin-left: 10px;
}
.hidden {
  left: -300px;
}
.visible {
  left: 0px;
}
.content-ui-menu {
  padding: 20px 0;
  width: 100%;
  background-color: #f7f7f7;
}
.content-ui-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-ui-menu ul li {
  margin: 0 25px;
  color: #7a7a7a;
  cursor: pointer;
  font-size: 14px;
}
.content-ui-menu ul .active,
.content-ui-menu ul .selected {
  color: #ff7e1a;
  font-weight: 700;
}
.content-ui-box {
  margin-top: 75px;
  width: 100%;
}
.page-ui-index {
  width: 100%;
  height: 350px;
  background-image: url('../../img/header.jpg');
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page-ui-index .shadow-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page-ui-index .shadow-box h1 {
  margin: 0;
  color: white;
  font-size: 38px;
}
.skeleton-loader {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
.skeleton-loader .skeleton-line {
  width: 5.5em;
  border-radius: 5px;
}
.skeleton-loader .skeleton-line::before {
  content: "\00a0";
}
.error-bar {
  background-color: #cf000f;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#recipes .center {
  width: 55%;
}
#recipes .animate-on-change {
  width: 100%;
  opacity: 1;
}
#recipes .recipe-card {
  max-width: unset;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#recipes .recipe-card .img-container {
  width: 65%;
  height: 450px;
  position: relative;
}
#recipes .recipe-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#recipes .recipe-card .recipe-data {
  width: 30%;
}
#recipes .recipe-card .recipe-data h2 {
  font-size: 34px;
  margin-top: 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
}
#recipes .recipe-card .recipe-data ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#recipes .recipe-card .recipe-data ul li {
  color: #858585;
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 30px;
}
#recipes .recipe-card .recipe-data ul li i {
  font-size: 28px;
  margin-right: 15px;
}
#recipes .recipe-card .recipe-data .btn {
  display: inline-flex;
  margin-top: 25px;
  min-width: 225px;
  position: relative;
}
#recipes .additional-data {
  width: 100%;
  padding: 20px 0;
  border: 2px solid #dedede;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
#recipes .additional-data h3 {
  font-size: 22px;
  color: #2e2e2e;
  min-height: 35px;
  margin-top: 0px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 15px;
}
#recipes .additional-data .left-view {
  width: 40%;
  border-right: 1px solid #dedede;
  margin-left: 2.25%;
}
#recipes .additional-data .left-view ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 40px;
}
#recipes .additional-data .left-view ul li {
  color: #7a7a7a;
  margin: 8px 0;
  position: relative;
  min-height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#recipes .additional-data .left-view ul li:first-child {
  margin-top: 0px;
}
#recipes .additional-data .left-view ul li:last-child {
  padding-top: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}
#recipes .additional-data .right-view {
  width: 50%;
  margin-left: 5%;
}
#recipes .additional-data .right-view table {
  width: 92%;
}
#recipes .additional-data .right-view table tbody tr {
  border: none;
}
#recipes .additional-data .right-view table tbody tr:nth-child(odd) {
  background-color: #eee;
}
#recipes .additional-data .right-view table tbody tr th,
#recipes .additional-data .right-view table tbody tr td {
  padding: 8px 0 8px 15px;
  height: 35px;
  position: relative;
}
#recipes .additional-data .right-view table tbody tr th:last-child,
#recipes .additional-data .right-view table tbody tr td:last-child {
  text-align: right;
  padding: 10px 20px 10px 0;
}
#allergies,
#diets,
#groceries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#allergies .center,
#diets .center,
#groceries .center {
  margin-top: 50px;
  width: 70%;
}
#allergies .center p,
#diets .center p,
#groceries .center p {
  color: #858585;
  line-height: 25px;
  margin: 0px 0 35px;
}
#allergies .center ul,
#diets .center ul,
#groceries .center ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#allergies .center ul li,
#diets .center ul li,
#groceries .center ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  padding: 10px 0 40px 0;
  border-bottom: 1px solid #dedede;
}
#allergies .center ul li span,
#diets .center ul li span,
#groceries .center ul li span {
  color: #394041;
}
#allergies .center ul li:last-child,
#diets .center ul li:last-child,
#groceries .center ul li:last-child {
  border-bottom: 0px;
}
#settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#settings .center {
  margin-top: 50px;
  width: 30%;
  margin-bottom: 50px;
}
#settings p {
  color: #858585;
  line-height: 25px;
  margin: 0px 0 35px;
}
#settings #output-response {
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #7a7a7a;
  width: 100%;
  text-align: left;
}
#settings #output-response i {
  display: inline-flex !important;
  margin-right: 5px;
  font-size: 18px;
}
#settings .error,
#settings .false {
  color: #cf000f !important;
}
#settings .error:before,
#settings .false:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f071";
  margin-right: 10px;
}
#settings .succes,
#settings .true {
  color: #3fc380 !important;
}
#settings .succes:before,
#settings .true:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f00c";
  margin-right: 10px;
}
#settings input {
  width: 100%;
  padding: 12px 0 12px 10px;
  border: 1px solid #dedede;
  color: #6c7a89;
  font-size: 16px;
  outline: none;
  background-color: #eee;
}
#settings label {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-size: 15px;
  width: 100%;
}
#settings label:first-child {
  margin-top: 0px;
}
#settings .btn {
  display: inline-flex;
  min-width: 225px;
}
#settings form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#settings form .outer-container {
  width: 100%;
}
#settings form .input-holder {
  width: 100%;
}
#settings #del-account {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#settings #del-account .btn {
  margin-top: 0px;
}
#settings .delete-account-submit {
  background-color: #f9f9f9;
  margin-top: 40px;
  width: 100%;
  padding: 30px 0;
  outline: 1px solid #dedede;
  display: none;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#settings .delete-account-submit .top-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#settings .delete-account-submit .top-bar i {
  font-size: 22px;
  color: #7a7a7a;
}
#settings .delete-account-submit .inner {
  width: 90%;
}
#settings .delete-account-submit .inner .input-holder {
  background-color: white;
}
#settings .delete-account-submit .inner .input-holder input {
  background-color: white;
}
#settings .delete-account-submit h3 {
  color: #2e2e2e;
  font-size: 18px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
#settings .delete-account-submit .extra-info {
  margin-bottom: 25px;
}
#settings .delete-account-submit .btn {
  margin-top: 20px !important;
}
#recipe-view .return-to-view {
  background-color: #f46c0f;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
#recipe-view .return-to-view .center {
  width: 95%;
}
#recipe-view .return-to-view .center a {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
#recipe-view .return-to-view .center a i {
  font-size: 22px;
  margin-right: 10px;
}
#recipe-view .page-ui-index {
  height: 150px;
  margin-top: 75px;
}
#recipe-view .content-ui-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#recipe-view .content-ui-box .center {
  width: 70%;
}
#recipe-view .general-information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#recipe-view .general-information .recipe-image {
  width: 50%;
  height: 475px;
}
#recipe-view .general-information .recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#recipe-view .general-information .recipe-info {
  width: 45%;
}
#recipe-view .general-information .recipe-info .favorite {
  margin-bottom: 25px;
  display: inline-flex;
}
#recipe-view .general-information .recipe-info .favorite i {
  font-size: 24px;
  color: #ff7e1a;
}
#recipe-view .general-information .recipe-info h1 {
  margin: 0;
  padding: 0;
  color: #394041;
  font-size: 36px;
}
#recipe-view .general-information .recipe-info .tag-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#recipe-view .general-information .recipe-info .tag-container .tag {
  background-color: #f2f1ef;
  margin: 0 8px;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 15px;
}
#recipe-view .general-information .recipe-info .tag-container .tag:first-child {
  margin-left: 0px;
}
#recipe-view .general-information .recipe-info #basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 0;
  margin: 45px 0 0 0;
  list-style: none;
}
#recipe-view .general-information .recipe-info #basic-info li {
  margin: 0 25px;
}
#recipe-view .general-information .recipe-info #basic-info li:first-child {
  margin-left: 0px;
}
#recipe-view .general-information .recipe-info #basic-info li i {
  width: 100%;
  text-align: center;
  font-size: 34px;
  color: #394041;
}
#recipe-view .general-information .recipe-info #basic-info li span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 16px;
  color: #394041;
  font-weight: bold;
}
#recipe-view .recipe-specific {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#recipe-view .recipe-specific .ingredients {
  width: 30%;
  border: 2px solid #dedede;
  border-radius: 10px;
  align-self: flex-start;
}
#recipe-view .recipe-specific .ingredients .center {
  padding: 30px 0 !important;
}
#recipe-view .recipe-specific .ingredients ul {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}
#recipe-view .recipe-specific .ingredients ul li {
  width: 100%;
  color: #7a7a7a;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#recipe-view .recipe-specific .col-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
#recipe-view .recipe-specific .col-recipe .center {
  width: 80%;
  padding: 20px 0;
}
#recipe-view .recipe-specific .col-recipe .center h2 {
  font-size: 22px;
  color: #394041;
  margin-top: 0px;
}
#recipe-view .recipe-specific .col-recipe .center input[type=checkbox] {
  opacity: 0;
  z-index: 10;
  width: 100%;
  position: absolute;
  cursor: pointer;
}
#recipe-view .recipe-specific .col-recipe .center li {
  position: relative;
}
#recipe-view .recipe-specific .col-recipe .center input[type=checkbox]:checked ~ .checkmark i {
  display: flex;
  color: #ff7e1a;
}
#recipe-view .recipe-specific .col-recipe .center .checkmark {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #dedede;
  position: absolute;
  transition: 0.2s;
  border-radius: 2.5px;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#recipe-view .recipe-specific .col-recipe .center .checkmark i {
  color: white;
  display: none;
  pointer-events: none;
}
#recipe-view .recipe-specific .col-recipe .center .grocery-item {
  margin-left: 45px;
}
#recipe-view .recipe-specific .instructions {
  width: 67.5%;
  border: 2px solid #dedede;
  border-radius: 10px;
  align-self: flex-start;
}
#recipe-view .recipe-specific .instructions .center {
  width: 90%;
}
#recipe-view .recipe-specific .instructions ul {
  list-style-type: none;
  padding: 0;
}
#recipe-view .recipe-specific .instructions ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px 0;
}
#recipe-view .recipe-specific .instructions ul li .instruction-key {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ff7e1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
#recipe-view .recipe-specific .instructions ul li span {
  width: 90%;
  margin-left: 15px;
  color: #7a7a7a;
  line-height: 20px;
  margin-top: 9px;
}
#recipe-view .recipe-specific .nutrition {
  width: 100%;
  margin-top: 35px;
  border: 2px solid #dedede;
  border-radius: 10px;
}
#recipe-view .recipe-specific .nutrition .center {
  width: 94%;
  padding: 30px 0;
}
#recipe-view .recipe-specific .nutrition table {
  width: 100%;
}
#recipe-view .recipe-specific .nutrition table tbody tr {
  border: none;
}
#recipe-view .recipe-specific .nutrition table tbody tr:nth-child(odd) {
  background-color: #eee;
}
#recipe-view .recipe-specific .nutrition table tbody tr th,
#recipe-view .recipe-specific .nutrition table tbody tr td {
  padding: 8px 0 8px 15px;
}
#recipe-view .recipe-specific .nutrition table tbody tr th:last-child,
#recipe-view .recipe-specific .nutrition table tbody tr td:last-child {
  text-align: right;
  padding: 10px 20px 10px 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 10;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}
.slider {
  position: absolute;
  outline: none;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #ff7e1a;
  outline: none;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ff7e1a;
  outline: none;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  outline: none;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.generate-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff7e1a;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generate-view .centered {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generate-view h1 {
  color: white;
}
.generate-view span {
  color: white;
  text-align: center;
  line-height: 25px;
}
.generate-view .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generate-view .close-generation-screen {
  position: absolute;
  top: 20px;
  left: 50px;
}
.generate-view .close-generation-screen i {
  color: white;
  font-size: 38px;
}
.generate-view .recipe-display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.generate-view .recipe-display .recipe-illustrations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding-left: 0px;
}
.generate-view .recipe-display .recipe-illustrations li {
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.generate-view .recipe-display .recipe-illustrations li i {
  color: #394041;
  font-size: 46px;
}
.generate-view .recipe-display .btn {
  background-color: white;
  color: #ff7e1a;
  font-weight: bold;
}
.generate-view .animate-on-change {
  width: unset !important;
}
.generate-view .roulette-wheel {
  width: 550px;
  height: 550px;
  margin-top: 50px;
  border-radius: 100%;
  position: relative;
  /* Safari 4.0 - 8.0 */
  /* Standard syntax */
}
.generate-view .roulette-wheel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.generate-view .roulette-wheel .roulette-trigger {
  width: 165px;
  height: 165px;
  position: absolute;
  background-color: #ff7e1a;
  margin: auto;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generate-view .roulette-wheel .roulette-trigger h2 {
  color: white;
  font-size: 20px;
}
.generate-view .roulette-wheel .spin-animate {
  -webkit-animation-name: spinner;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.request-generation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.request-generation .icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.request-generation .icon i {
  font-size: 68px;
  color: #ff7e1a;
}
.request-generation h2 {
  color: #394041;
  text-align: center;
}
#groceries .index-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#groceries .btn {
  margin-top: 0px;
}
#groceries .btn i {
  color: white;
  font-size: 18px;
}
#groceries .info {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dedede;
  border-radius: 100%;
  color: white;
}
#groceries ul li {
  position: relative;
}
#groceries .grocery-item {
  width: 100%;
  cursor: pointer;
}
#groceries input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
#groceries input[type=checkbox]:checked ~ .checkmark i {
  display: flex;
  color: #ff7e1a;
}
#groceries .checkmark {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #dedede;
  transition: 0.2s;
  border-radius: 2.5px;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#groceries .checkmark i {
  color: white;
  display: none;
  pointer-events: none;
}
.mdc-snackbar {
  position: fixed;
  bottom: 35px;
  right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 100px;
  z-index: 999;
}
.mdc-snackbar .mdc-snackbar__surface {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 20px 0;
  /* Safari 4.0 - 8.0 */
  /* Standard syntax */
}
.mdc-snackbar .mdc-snackbar__surface button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  outline: none;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.mdc-snackbar .mdc-snackbar__surface button:hover {
  background-color: #2aa266;
}
.mdc-snackbar .mdc-snackbar__surface:after {
  content: "";
  width: 0;
  height: 7.5px;
  background-color: black;
  position: absolute;
  opacity: 0.2;
  bottom: 0;
  left: 0;
  animation: loader 10s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@-webkit-keyframes loader {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes loader {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.succes {
  background-color: #3fc380;
}
.failed {
  background-color: #d32f2f;
}
@media only screen and (max-width: 1400px) {
  #recipes .center {
    width: 75%;
  }
  #recipe-view .content-ui-box {
    margin-bottom: 75px;
  }
  #recipe-view .content-ui-box .center {
    width: 85%;
  }
  #recipe-view .general-information .recipe-image {
    height: 400px;
  }
  #recipe-view .recipe-specific {
    margin-bottom: 0px;
  }
  #recipe-view .btn span {
    font-size: 15px;
  }
  #settings .center {
    width: 45%;
  }
}
@media only screen and (max-width: 1370px) and (min-width: 1025px) {
  .generate-view .close-generation-screen {
    left: 25px;
  }
  .generate-view .centered {
    width: 70%;
  }
  .generate-view h1 {
    line-height: 30px;
    font-size: 30px;
  }
  .generate-view .roulette-wheel {
    margin-top: 15px;
  }
  .generate-view span {
    line-height: 24px;
    font-size: 18px;
  }
  .generate-view .roulette-wheel {
    width: 475px;
    height: 475px;
  }
  .generate-view .roulette-wheel .roulette-trigger {
    width: 140px;
    height: 140px;
  }
  .generate-view .recipe-display {
    margin-top: 25px;
  }
  .generate-view .recipe-display .recipe-illustrations {
    justify-content: center;
  }
  .generate-view .recipe-display .recipe-illustrations li {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .page-ui-index {
    height: 300px;
  }
  #recipes .center {
    width: 90%;
  }
  #recipes .recipe-card .img-container {
    width: 55%;
    height: 350px;
  }
  #recipes .recipe-card .recipe-data {
    width: 40%;
  }
  #recipes .recipe-card .recipe-data .btn {
    max-width: 250px;
  }
  #recipe-view .center {
    width: 90% !important;
  }
  #recipe-view .ingredients .center {
    width: 80% !important;
  }
  #recipe-view .general-information .recipe-image {
    height: 300px;
  }
  #recipe-view .general-information .recipe-info .favorite {
    margin-bottom: 15px;
  }
  #recipe-view .general-information .recipe-info h1 {
    font-size: 30px;
  }
  #recipe-view .general-information .recipe-info .tag-container {
    margin-top: 10px;
  }
  #recipe-view .general-information .recipe-info .tag-container .tag {
    padding: 12px 12px;
    font-size: 14px;
  }
  #recipe-view .general-information .recipe-info #basic-info {
    margin-top: 30px;
  }
  #recipe-view .general-information .recipe-info #basic-info li {
    margin: 0 15px;
  }
  #recipe-view .general-information .recipe-info #basic-info li i {
    font-size: 28px;
  }
  #recipe-view .general-information .recipe-info #basic-info li span {
    font-size: 16px;
  }
  #settings .center {
    width: 60% !important;
  }
  .generate-view .close-generation-screen {
    left: 25px;
  }
  .generate-view .centered {
    width: 720px;
  }
  .generate-view h1 {
    line-height: 44px;
    font-size: 38px;
  }
  .generate-view .recipe-display .recipe-illustrations {
    justify-content: flex-start;
  }
  .generate-view .recipe-display .recipe-illustrations li {
    width: 170px;
    height: 170px;
    margin-bottom: 13px;
    margin-right: 13px;
  }
  .generate-view .recipe-display .recipe-illustrations li i {
    font-size: 58px;
  }
  .generate-view .recipe-display .recipe-illustrations li:nth-child(4n +4) {
    margin-right: 0px;
  }
  .generate-view span {
    line-height: 24px;
    font-size: 18px;
  }
  .generate-view .roulette-wheel {
    width: 650px;
    height: 650px;
  }
  .generate-view .roulette-wheel .roulette-trigger {
    width: 190px;
    height: 190px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) and (orientation: landscape) {
  .generate-view .close-generation-screen {
    left: 25px;
  }
  .generate-view .centered {
    width: 70%;
  }
  .generate-view h1 {
    line-height: 35px;
    font-size: 30px;
  }
  .generate-view .roulette-wheel {
    margin-top: 15px;
  }
  .generate-view span {
    line-height: 24px;
    font-size: 17px;
  }
  .generate-view .roulette-wheel {
    width: 475px;
    height: 475px;
  }
  .generate-view .roulette-wheel .roulette-trigger {
    width: 140px;
    height: 140px;
  }
  .generate-view .recipe-display {
    margin-top: 25px;
  }
  .generate-view .recipe-display .recipe-illustrations {
    justify-content: center;
  }
  .generate-view .recipe-display .recipe-illustrations li {
    width: 145px;
    height: 145px;
    margin-bottom: 13px;
    margin-right: 13px;
  }
  .generate-view .recipe-display .recipe-illustrations li:nth-child(4n +4) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 632px) {
  .page-ui-index {
    height: 250px;
  }
  .content-ui-menu {
    padding: 0;
  }
  .content-ui-menu ul {
    height: 100%;
    display: block;
    margin-left: 5%;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .content-ui-menu ul::-webkit-scrollbar {
    display: none;
  }
  .content-ui-menu ul li {
    padding: 20px 0;
    display: inline-block;
  }
  .content-ui-menu ul li:first-child {
    margin-left: 0px;
  }
  .content-ui-menu ul li:last-child {
    padding-right: 25px;
  }
  #recipes .center {
    width: 90%;
  }
  #recipes .recipe-card .img-container {
    width: 55%;
    height: 300px;
  }
  #recipes .recipe-card .recipe-data {
    width: 40%;
  }
  #recipes .recipe-card .recipe-data h2 {
    font-size: 28px;
  }
  #recipes .recipe-card .recipe-data ul li {
    font-size: 16px;
  }
  #recipes .recipe-card .recipe-data ul li i {
    font-size: 22px;
  }
  #recipes .recipe-card .recipe-data .btn {
    max-width: 200px;
    padding: 15px 40px;
    min-width: unset;
    display: inline-flex;
    margin-top: 10px;
    min-width: 150px;
  }
  #recipe-view .page-ui-index {
    display: none;
  }
  #recipe-view .content-ui-box {
    margin-bottom: 30px;
  }
  #recipe-view .general-information {
    margin-bottom: 30px;
  }
  #recipe-view .general-information .recipe-image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 75px;
    height: 350px;
  }
  #recipe-view .general-information .recipe-image img {
    border-radius: 0;
  }
  #recipe-view .general-information .recipe-info {
    width: 100%;
    margin-top: 200px;
    z-index: 999;
  }
  #recipe-view .general-information .recipe-info:after {
    width: 100%;
    height: 250px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 175px;
    z-index: 10;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }
  #recipe-view .general-information .recipe-info h1 {
    color: white;
    font-size: 34px;
    position: relative;
    z-index: 999;
  }
  #recipe-view .general-information .recipe-info .favorite {
    margin-bottom: 10px;
    position: relative;
    z-index: 999;
  }
  #recipe-view .general-information .recipe-info .favorite i {
    color: white;
  }
  #recipe-view .general-information .recipe-info .tag-container {
    margin-top: 10px;
    position: relative;
    z-index: 999;
  }
  #recipe-view .general-information .recipe-info .tag-container .tag {
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
  }
  #recipe-view .general-information .recipe-info #basic-info {
    margin-top: 15px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 15px 0;
    position: relative;
    z-index: 999;
  }
  #recipe-view .general-information .recipe-info #basic-info li {
    width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  #recipe-view .general-information .recipe-info #basic-info li:first-child {
    margin-left: 20px;
  }
  #recipe-view .general-information .recipe-info #basic-info li i {
    width: unset;
    font-size: 22px;
  }
  #recipe-view .general-information .recipe-info #basic-info li span {
    width: unset;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
  }
  #recipe-view .recipe-specific {
    border: 2px solid #dedede;
    border-radius: 5px;
  }
  #recipe-view .recipe-specific .ingredients {
    width: 100%;
    border: none;
  }
  #recipe-view .recipe-specific .ingredients .center {
    width: 90%;
  }
  #recipe-view .recipe-specific .instructions {
    width: 100%;
    border: none;
  }
  #recipe-view .recipe-specific .instructions ul {
    margin-bottom: 0px;
  }
  #recipe-view .recipe-specific .instructions ul li:last-child {
    margin-bottom: 0px;
  }
  #recipe-view .recipe-specific .instructions ul li .instruction-key {
    width: 30px;
    height: 30px;
  }
  #recipe-view .recipe-specific .instructions ul li span {
    margin-top: 4.5px;
  }
  #recipe-view .recipe-specific .nutrition {
    width: 100%;
    border: none;
    margin-top: 0px;
  }
  #settings .center {
    width: 70% !important;
  }
  #settings .content-ui-menu ul {
    display: flex;
  }
  .generate-view .close-generation-screen {
    left: 25px;
  }
  .generate-view .centered {
    width: 80%;
  }
  .generate-view h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .generate-view span {
    font-size: 18px;
    line-height: 24px;
  }
  .generate-view .recipe-display {
    margin-top: 25px;
  }
  .generate-view .recipe-display .recipe-illustrations {
    justify-content: center;
  }
  .generate-view .recipe-display .recipe-illustrations li {
    width: 140px;
    height: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 630px) and (min-width: 320px) {
  .page-ui-index {
    height: 200px;
    background-position: 20% center;
    background-size: 100%;
  }
  .page-ui-index .shadow-box h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .content-ui-menu {
    padding: 0;
  }
  .content-ui-menu ul {
    height: 100%;
    display: block;
    margin-left: 5%;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .content-ui-menu ul::-webkit-scrollbar {
    display: none;
  }
  .content-ui-menu ul li {
    padding: 20px 0;
    display: inline-block;
  }
  .content-ui-menu ul li:first-child {
    margin-left: 0px;
  }
  .content-ui-menu ul li:last-child {
    padding-right: 25px;
  }
  #recipes .center {
    width: 90%;
  }
  #recipes .recipe-card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #recipes .recipe-card .img-container {
    width: 100%;
    height: 225px;
  }
  #recipes .recipe-card .recipe-data {
    width: 100%;
    margin-top: 30px;
  }
  #recipes .recipe-card .recipe-data h2 {
    font-size: 32px;
  }
  #recipes .recipe-card .recipe-data .content-spacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #recipes .recipe-card .recipe-data .content-spacer ul {
    justify-self: flex-start;
  }
  #recipes .recipe-card .additional-data {
    display: none;
  }
  #recipe-view .page-ui-index {
    display: none;
  }
  #recipe-view .return-to-view {
    padding-top: env(safe-area-inset-top);
    height: unset;
  }
  #recipe-view .return-to-view .center {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
  }
  #recipe-view .content-ui-box {
    margin-bottom: 35px;
    margin-top: 75px;
  }
  #recipe-view .general-information {
    margin-bottom: 40px;
  }
  #recipe-view .general-information .recipe-image {
    position: absolute;
    padding-top: env(safe-area-inset-top);
    left: 0px;
    top: 75px;
    width: 100%;
    height: 300px;
  }
  #recipe-view .general-information .recipe-image img {
    border-radius: 0px;
  }
  #recipe-view .general-information .recipe-info {
    margin-top: 335px;
    width: 100%;
  }
  #recipe-view .general-information .recipe-info .favorite {
    margin-bottom: 15px;
  }
  #recipe-view .general-information .recipe-info h1 {
    font-size: 32px;
  }
  #recipe-view .general-information .recipe-info .tag-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  #recipe-view .general-information .recipe-info .tag-container .tag {
    margin: 0 5px;
    padding: 12px 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  #recipe-view .general-information .recipe-info #basic-info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  #recipe-view .general-information .recipe-info #basic-info li {
    width: 32%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #recipe-view .general-information .recipe-info #basic-info li i {
    font-size: 22px;
  }
  #recipe-view .general-information .recipe-info #basic-info li span {
    font-size: 3.6vw;
  }
  #recipe-view .recipe-specific {
    border: 2px solid #dedede;
    border-radius: 5px;
  }
  #recipe-view .recipe-specific .nutrition,
  #recipe-view .recipe-specific .ingredients,
  #recipe-view .recipe-specific .instructions {
    border: none;
    width: 100%;
  }
  #recipe-view .recipe-specific .instructions ul {
    margin-bottom: 0;
  }
  #recipe-view .recipe-specific .instructions ul li .instruction-key {
    height: 35px;
    width: 35px;
  }
  #recipe-view .recipe-specific .instructions ul li:last-child {
    margin-bottom: 0;
  }
  #recipe-view .recipe-specific .instructions ul li span {
    width: 80%;
    margin-top: 7.5px;
  }
  #recipe-view .recipe-specific .nutrition {
    margin-top: 0px;
  }
  #recipe-view .recipe-specific .nutrition table tbody tr td {
    font-size: 15px;
  }
  .generate-view {
    display: unset;
    min-height: 100vh;
    height: unset;
  }
  .generate-view .close-generation-screen {
    padding-top: env(safe-area-inset-top);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 25px;
    height: 25px;
  }
  .generate-view .close-generation-screen i {
    font-size: 22px;
    left: 25px;
    position: relative;
  }
  .generate-view .animate-on-change {
    width: 90% !important;
  }
  .generate-view .centered {
    width: 100%;
    align-items: flex-start;
    margin-top: 50px;
  }
  .generate-view .centered .content {
    width: 100%;
  }
  .generate-view .recipe-display {
    margin-top: 25px;
  }
  .generate-view .recipe-display .recipe-illustrations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .generate-view .recipe-display .recipe-illustrations li {
    display: none;
    width: 200px;
    height: 200px;
  }
  .generate-view .recipe-display .recipe-illustrations li i {
    font-size: 82px;
  }
  .generate-view .recipe-display .recipe-illustrations li:nth-child(2) {
    display: flex;
  }
  .generate-view h1 {
    line-height: 35px;
    font-size: 30px;
  }
  .generate-view .roulette-wheel {
    margin-top: 15px;
  }
  .generate-view span {
    line-height: 24px;
    font-size: 17px;
  }
  .generate-view .roulette-wheel {
    width: 350px;
    height: 350px;
  }
  .generate-view .roulette-wheel .roulette-trigger {
    width: 105px;
    height: 105px;
  }
  .generate-view .roulette-wheel .roulette-trigger h2 {
    font-size: 22px;
  }
}
