.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
p,
a,
li,
input,
span,
button,
table {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}
input[type=text],
input[type=password],
input[type=text],
input[type=email] {
  -webkit-appearance: none;
}
@-moz-keyframes loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.animate-on-change {
  width: 100%;
}
.btn {
  height: 50px;
  background-color: #ff7e1a;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: 35px;
  cursor: pointer;
  outline: none;
  min-width: 175px;
  padding: 0 25px;
  box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
}
.btn span {
  font-weight: bold;
  letter-spacing: 1px;
}
.btn .spin {
  width: 19px !important;
  height: 19px !important;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(img/loading-ui.png);
  -webkit-animation-name: loading;
  background-size: cover;
  background-position: center center;
  -webkit-animation-duration: 1700ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.error-dsp {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #cf000f;
}
.not-logged-in {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: unset;
}
.not-logged-in .logo {
  width: 260px;
  height: 80px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.not-logged-in .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.not-logged-in .welcome-index {
  height: 50vh;
  width: 100%;
  background-image: url(img/header.jpg);
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .welcome-index h1 {
  color: white;
  font-size: 42px;
}
.not-logged-in .skew-bar {
  width: 100%;
  height: 15vh;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
  background-color: #ff7e1a;
  margin-top: -15vh;
  position: relative;
  top: 1px;
}
.not-logged-in .cta-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ff7e1a;
}
.not-logged-in .cta-container h2 {
  color: white;
  font-size: 62px;
  margin: 0;
  width: 40%;
  text-align: center;
}
.not-logged-in .cta-container .call-to-actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  top: -20px;
}
.not-logged-in .cta-container .call-to-actions span {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.not-logged-in .cta-container .call-to-actions .buttons {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .cta-container .call-to-actions .buttons .btn {
  margin: 0;
  background-color: white;
  color: #ff7e1a;
  font-weight: bold;
}
.not-logged-in .cta-container .call-to-actions .buttons .btn:last-child {
  margin-left: 20px;
}
.not-logged-in .page-overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.not-logged-in .front-display-holder {
  background-color: white;
  padding: 35px 20px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .front-display-holder .top-bar-ui {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.not-logged-in .front-display-holder .top-bar-ui span {
  color: #394041;
  font-family: 'Montserrat', sans-serif;
}
.not-logged-in .front-display-holder .top-bar-ui i {
  color: #858585;
}
.not-logged-in .front-display-holder #activation-status {
  font-size: 20px;
  margin-bottom: 0px;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.not-logged-in .front-display-holder .help-text {
  color: #858585;
  line-height: 24px;
}
.not-logged-in .front-display-holder .no-center {
  display: inline-flex;
  width: unset !important;
}
.not-logged-in .front-display-holder .cta .btn {
  margin-top: 10px;
  max-width: 150px;
  min-width: 150px;
  font-size: 20px;
}
.not-logged-in .front-display-holder .cta .index {
  font-size: 14px;
  color: #7a7a7a;
  margin-left: 10px;
}
.not-logged-in .front-display-holder label {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-size: 15px;
}
.not-logged-in .front-display-holder .no-margin {
  margin-top: 0px;
}
.not-logged-in .front-display-holder input {
  width: 100%;
  padding: 12px 0 12px 10px;
  border: 1px solid #dedede;
  color: #6c7a89;
  font-size: 16px;
  outline: none;
}
.not-logged-in .front-display-holder .btn {
  display: inline-flex;
}
.not-logged-in .front-display-holder .toLogin {
  width: 100%;
  margin-top: 25px;
  color: #ff7e1a;
  font-size: 14px;
  text-align: center;
}
.not-logged-in .front-display-holder #output-response {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #7a7a7a;
}
.not-logged-in .front-display-holder #output-response i {
  display: inline-flex !important;
  margin-right: 5px;
  font-size: 18px;
}
.not-logged-in .front-display-holder .error,
.not-logged-in .front-display-holder .false {
  color: #cf000f !important;
}
.not-logged-in .front-display-holder .succes,
.not-logged-in .front-display-holder .true {
  color: #3fc380 !important;
}
.not-logged-in .front-display-holder .form-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .front-display-holder .form-holder form {
  width: 100%;
}
.not-logged-in .front-display-holder .controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .progress-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .progress-bar .steps {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0 35px 0;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}
.not-logged-in .progress-bar .steps li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 ;
  border-bottom: none;
  width: 33.3%;
  position: relative;
}
.not-logged-in .progress-bar .steps li:first-child:before {
  content: "";
  display: block;
  width: 52px;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 22px;
  background-color: #ff7e1a;
}
.not-logged-in .progress-bar .steps li:last-child:after {
  content: "";
  display: block;
  width: 52px;
  height: 3px;
  position: absolute;
  right: 0px;
  top: 22px;
  background-color: #dedede;
}
.not-logged-in .progress-bar .steps li:nth-child(2):before,
.not-logged-in .progress-bar .steps li:nth-child(3):before {
  content: "";
  display: block;
  width: 105px;
  height: 3px;
  background-color: #dedede;
  position: absolute;
  left: -52px;
  top: 22px;
}
.not-logged-in .progress-bar .steps li i {
  background-color: #dedede;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.not-logged-in .progress-bar .steps li span {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #858585;
}
.not-logged-in .progress-bar .steps .active i {
  background-color: #ff7e1a;
}
.not-logged-in .progress-bar .steps .active:before,
.not-logged-in .progress-bar .steps .active:after {
  background-color: #ff7e1a !important;
}
.not-logged-in .custom-step p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 24px;
  color: #7a7a7a;
}
.not-logged-in .custom-step .select-grid {
  width: 100%;
}
.not-logged-in .custom-step .select-grid ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.not-logged-in .custom-step .select-grid ul li {
  width: 40%;
  margin: 15px 0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.not-logged-in .custom-step .select-grid ul li:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}
.not-logged-in .custom-step .select-grid ul li:nth-last-child(2) {
  border-bottom: 0px;
  margin-bottom: 0px;
}
.not-logged-in .custom-step .select-grid ul li .allergy {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.not-logged-in .custom-step .select-grid ul li .allergy label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 75%;
  left: 40px;
  cursor: pointer;
  position: relative;
}
.not-logged-in .custom-step .select-grid ul li .allergy input[type=checkbox] {
  opacity: 0;
  z-index: 10;
  width: 100%;
  position: absolute;
  cursor: pointer;
}
.not-logged-in .custom-step .select-grid ul li .allergy input[type=checkbox]:checked ~ .checkmark {
  background-color: #ff7e1a;
}
.not-logged-in .custom-step .select-grid ul li .allergy input[type=checkbox]:checked ~ .checkmark i {
  display: flex;
}
.not-logged-in .custom-step .select-grid ul li .allergy .checkmark {
  width: 25px;
  height: 25px;
  background-color: #dedede;
  position: absolute;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in .custom-step .select-grid ul li .allergy .checkmark i {
  color: white;
  display: none;
  pointer-events: none;
}
.not-logged-in .custom-step .controls {
  justify-content: space-between;
}
.not-logged-in .custom-step .controls .btn {
  margin-top: 0px;
}
.not-logged-in .custom-step .controls .previous {
  background-color: #ffa25b;
}
.not-logged-in .custom-step .household-sizer {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.not-logged-in .custom-step .household-sizer .btn {
  width: 80%;
  font-size: 26px;
  margin-top: 35px;
  background-color: #dedede;
}
.not-logged-in .custom-step .household-sizer .btn span {
  pointer-events: none;
}
.not-logged-in .custom-step .household-sizer .house-size {
  font-size: 38px;
  display: block;
  text-align: center;
  color: #858585;
  margin-top: 35px;
  width: 100%;
}
.not-logged-in #registration-finished {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.not-logged-in #registration-finished .orange-dot {
  margin-top: 35px;
}
.not-logged-in #registration-finished .orange-dot i {
  color: #ff7e1a;
  font-size: 74px;
}
.not-logged-in #registration-finished h3 {
  color: #394041;
  line-height: 28px;
  text-align: center;
}
.not-logged-in #registration-finished p {
  text-align: center;
}
.not-logged-in #registration-finished .controls {
  justify-content: center;
  margin-top: 35px;
}
.not-logged-in #registration-finished .controls span {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.not-logged-in #registration-finished .controls span:first-child {
  color: #7a7a7a;
}
.not-logged-in #registration-finished .controls .btn {
  margin-top: 15px;
}
.not-logged-in #registration-finished .controls .btn span {
  color: white;
}
.not-logged-in .pw-forgot {
  color: #ff7e1a;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .not-logged-in .logo {
    width: 300px;
    height: 90px;
  }
  .not-logged-in .cta-container .call-to-actions h2 {
    width: 80%;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .not-logged-in .cta-container .call-to-actions span {
    margin-top: 20px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons {
    margin-top: 30px;
  }
  .not-logged-in .cta-container .call-to-actions h2 {
    font-size: 56px;
  }
  .not-logged-in .front-display-holder {
    width: 100% !important;
    height: 100%;
    border-radius: 0;
    max-height: unset;
    padding: 30px 30px;
    display: unset;
  }
  .not-logged-in .front-display-holder .top-bar-ui span {
    font-size: 26px;
  }
  .not-logged-in .front-display-holder .top-bar-ui i {
    font-size: 30px;
  }
  .not-logged-in .front-display-holder .form-holder {
    margin-top: 40px;
  }
  .not-logged-in .front-display-holder label {
    font-size: 17px;
    margin-top: 30px;
  }
  .not-logged-in .front-display-holder label:first-child {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder input {
    padding: 15px 0 15px 15px;
  }
  .not-logged-in .front-display-holder #output-response,
  .not-logged-in .front-display-holder .error-dsp {
    font-size: 15.5px;
  }
  .not-logged-in .front-display-holder .btn {
    margin-top: 60px;
  }
  .not-logged-in .front-display-holder .progress-bar {
    margin-bottom: 20px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li i {
    position: relative;
    z-index: 999;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:first-child:before {
    width: 45%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(2):before,
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(3):before {
    left: -45%;
    width: 90%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:last-child:after {
    width: 45%;
  }
  .not-logged-in .front-display-holder .scrollable {
    height: 450px;
    overflow-x: scroll;
    padding-bottom: 50px;
  }
  .not-logged-in .front-display-holder #registration-finished .orange-dot i {
    font-size: 100px;
  }
  .not-logged-in .front-display-holder #registration-finished h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .not-logged-in .front-display-holder #registration-finished p {
    font-size: 17px;
  }
  .not-logged-in .front-display-holder #registration-finished #lbl {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder #registration-finished .btn span {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder .toLogin {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .not-logged-in .front-display-holder .custom-step p {
    font-size: 17px;
    line-height: 26px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer {
    margin-top: 15px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer .btn {
    width: 30%;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li {
    width: 25%;
    border-right: 1px solid #dedede;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-child(4n +4) {
    border-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-last-child(4),
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-last-child(3) {
    border-bottom: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .allergy {
    justify-content: center;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li label {
    width: 100%;
    text-align: center;
    left: 0px;
    justify-content: center;
    margin-top: 85px;
    font-size: 17px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .checkmark {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 30px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .not-logged-in {
    align-content: flex-start;
  }
  .not-logged-in .logo {
    width: 240px;
    height: 70px;
  }
  .not-logged-in .welcome-index {
    background-position: 100% 60%;
  }
  .not-logged-in .cta-container .call-to-actions h2 {
    width: 80%;
    font-size: 52px;
  }
  .not-logged-in .cta-container .call-to-actions span {
    font-size: 20px;
    margin-top: 20px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons {
    margin-top: 30px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons .btn {
    box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
  }
  .not-logged-in .pw-forgot {
    font-size: 17px;
  }
  .not-logged-in .front-display-holder {
    width: 100% !important;
    height: 100%;
    border-radius: 0;
    max-height: unset;
    padding: 30px 30px;
    display: unset;
  }
  .not-logged-in .front-display-holder .top-bar-ui span {
    font-size: 26px;
  }
  .not-logged-in .front-display-holder .top-bar-ui i {
    font-size: 30px;
  }
  .not-logged-in .front-display-holder .form-holder {
    margin-top: 40px;
  }
  .not-logged-in .front-display-holder label {
    font-size: 17px;
    margin-top: 30px;
  }
  .not-logged-in .front-display-holder label:first-child {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder input {
    padding: 15px 0 15px 15px;
  }
  .not-logged-in .front-display-holder #output-response,
  .not-logged-in .front-display-holder .error-dsp {
    font-size: 15.5px;
  }
  .not-logged-in .front-display-holder .btn {
    margin-top: 60px;
  }
  .not-logged-in .front-display-holder .progress-bar {
    margin-bottom: 20px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li i {
    position: relative;
    z-index: 999;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:first-child:before {
    width: 45%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(2):before,
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(3):before {
    left: -45%;
    width: 90%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:last-child:after {
    width: 45%;
  }
  .not-logged-in .front-display-holder #registration-finished .orange-dot i {
    font-size: 100px;
  }
  .not-logged-in .front-display-holder #registration-finished h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .not-logged-in .front-display-holder #registration-finished p {
    font-size: 17px;
  }
  .not-logged-in .front-display-holder #registration-finished #lbl {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder #registration-finished .btn span {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder .toLogin {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .not-logged-in .front-display-holder .custom-step p {
    font-size: 17px;
    line-height: 26px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer {
    margin-top: 15px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer .btn {
    width: 30%;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid {
    margin-bottom: 65px;
    margin-top: 65px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li {
    width: 33.33%;
    border-right: 1px solid #dedede;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-child(3n +3) {
    border-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-last-child(3) {
    border-bottom: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .allergy {
    justify-content: center;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li label {
    width: 100%;
    text-align: center;
    left: 0px;
    justify-content: center;
    margin-top: 85px;
    font-size: 17px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .checkmark {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 30px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) and (orientation: portrait) {
  .not-logged-in .front-display-holder .scrollable {
    height: unset;
    overflow-y: unset;
    overflow-x: unset;
  }
}
@media only screen and (max-width: 768px) and (min-width: 632px) {
  .not-logged-in {
    align-content: flex-start;
  }
  .not-logged-in .welcome-index {
    background-position: 100% 60%;
  }
  .not-logged-in .cta-container .call-to-actions h2 {
    width: 80%;
    font-size: 50px;
  }
  .not-logged-in .cta-container .call-to-actions span {
    width: 70%;
    font-size: 22px;
    margin-top: 20px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons {
    margin-top: 30px;
  }
  .not-logged-in .front-display-holder {
    width: 100% !important;
    height: 100%;
    border-radius: 0;
    max-height: unset;
    padding: 30px 30px;
    display: unset;
  }
  .not-logged-in .front-display-holder .top-bar-ui span {
    font-size: 26px;
  }
  .not-logged-in .front-display-holder .top-bar-ui i {
    font-size: 30px;
  }
  .not-logged-in .front-display-holder .form-holder {
    margin-top: 40px;
  }
  .not-logged-in .front-display-holder label {
    font-size: 17px;
    margin-top: 30px;
  }
  .not-logged-in .front-display-holder label:first-child {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder input {
    padding: 15px 0 15px 15px;
  }
  .not-logged-in .front-display-holder #output-response,
  .not-logged-in .front-display-holder .error-dsp {
    font-size: 15.5px;
  }
  .not-logged-in .front-display-holder .btn {
    margin-top: 60px;
  }
  .not-logged-in .front-display-holder .progress-bar {
    margin-bottom: 20px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li i {
    position: relative;
    z-index: 999;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:first-child:before {
    width: 45%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(2):before,
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(3):before {
    left: -45%;
    width: 90%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:last-child:after {
    width: 45%;
  }
  .not-logged-in .front-display-holder #registration-finished .orange-dot i {
    font-size: 100px;
  }
  .not-logged-in .front-display-holder #registration-finished h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .not-logged-in .front-display-holder #registration-finished p {
    font-size: 17px;
  }
  .not-logged-in .front-display-holder #registration-finished #lbl {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder #registration-finished .btn span {
    font-size: 16px;
  }
  .not-logged-in .front-display-holder .toLogin {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .not-logged-in .front-display-holder .controls {
    margin-bottom: 50px;
  }
  .not-logged-in .front-display-holder .custom-step p {
    font-size: 17px;
    line-height: 26px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer {
    margin-top: 15px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer .btn {
    width: 30%;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid {
    margin-bottom: 65px;
    margin-top: 65px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li {
    width: 33.33%;
    border-right: 1px solid #dedede;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-child(3n +3) {
    border-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-last-child(3) {
    border-bottom: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .allergy {
    justify-content: center;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li label {
    width: 100%;
    text-align: center;
    left: 0px;
    justify-content: center;
    margin-top: 85px;
    font-size: 17px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .checkmark {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 30px;
  }
}
@media only screen and (max-width: 630px) and (min-width: 320px) {
  .not-logged-in {
    align-content: flex-start;
  }
  .not-logged-in .welcome-index {
    background-position: 100% 155%;
    height: 40vh;
    background-size: 150%;
  }
  .not-logged-in .logo {
    width: 200px;
    height: 60px;
    display: none;
  }
  .not-logged-in input {
    border-radius: 0;
  }
  .not-logged-in .cta-container {
    height: 60vh;
  }
  .not-logged-in .cta-container .call-to-actions {
    top: 0;
  }
  .not-logged-in .cta-container .call-to-actions h2 {
    width: 90%;
    font-size: 40px;
  }
  .not-logged-in .cta-container .call-to-actions span {
    width: 90%;
    font-size: 18px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons {
    margin-top: 40px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons .btn {
    padding: 18px 0;
    width: 90%;
    margin-bottom: 15px;
  }
  .not-logged-in .cta-container .call-to-actions .buttons .btn:last-child {
    margin-left: 0px;
  }
  .not-logged-in .front-display-holder {
    width: 100%;
    height: 100%;
    border-radius: 0;
    align-items: flex-start;
    overflow: hidden;
  }
  .not-logged-in .front-display-holder .top-bar-ui {
    padding-top: env(safe-area-inset-top);
  }
  .not-logged-in .front-display-holder .form-holder {
    height: 100%;
    align-items: flex-start;
  }
  .not-logged-in .front-display-holder .progress-bar {
    width: 100%;
    justify-self: center;
    margin-top: 25px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps {
    margin-top: 0px;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:first-child:before {
    width: 32%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li span {
    font-size: 2.8vw;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(2):before,
  .not-logged-in .front-display-holder .progress-bar .steps li:nth-child(3):before {
    width: 68%;
    left: -35%;
  }
  .not-logged-in .front-display-holder .progress-bar .steps li i {
    position: relative;
    z-index: 999;
  }
  .not-logged-in .front-display-holder .scrollable {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid {
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li {
    width: 50%;
    border-right: 1px solid #dedede;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li:nth-child(2n +2) {
    border-right: 0px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .allergy {
    justify-content: center;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li label {
    width: 100%;
    text-align: center;
    left: 0px;
    justify-content: center;
    margin-top: 85px;
    font-size: 17px;
  }
  .not-logged-in .front-display-holder .custom-step .select-grid ul li .checkmark {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 30px;
  }
  .not-logged-in .front-display-holder .custom-step .household-sizer .btn {
    width: 40%;
  }
  .not-logged-in .front-display-holder .custom-step .controls {
    justify-content: center;
    padding-bottom: 30px;
  }
  .not-logged-in .front-display-holder .custom-step .controls .btn {
    width: 80%;
  }
  .not-logged-in .front-display-holder .custom-step .controls .btn:last-child {
    margin-top: 10px;
  }
  .toLogin {
    padding-bottom: 20px;
  }
  .center {
    width: 90% !important;
  }
}
