// GLOBAL ITEMS //

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1, h2, h3 {
    font-family: @primairyfont;
    letter-spacing: 1px;
}

p, a, li, input,span, button,table  {
    font-family: @textfont;
    letter-spacing: 1px;
    text-decoration: none;
}

input[type=text], input[type=password], input[type=text], input[type=email] {
    -webkit-appearance: none;
}


@primairyOrange : #ff7e1a;
@secondairyOrange : #f46c0f;
@headerColor : #394041;
@textColor : #858585;
@primairyfont : 'Montserrat', sans-serif;
@textfont : 'Roboto', sans-serif;

// animation for the load icon
@-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes loading {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

body {
    margin: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .flex;
    overflow-x: hidden;
    outline-style: none; 
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#root {
    width: 100%;
    .flex;
}

.animate-on-change {
    width: 100%;
}

.btn {
    height: 50px;
    background-color: @primairyOrange;
    color: white;
    .flex;
    border-radius: 100px;
    margin-top: 35px;
    cursor: pointer;
    outline: none;
    min-width: 175px;
    padding: 0 25px;
    box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);

    span {
        font-weight: bold;
        letter-spacing: 1px;
    }

    .spin {
        width: 19px !important;
        height: 19px !important;
        pointer-events: none;
        .flex;
        background-image: url(img/loading-ui.png);
        -webkit-animation-name: loading;
        background-size: cover;
        background-position: center center;
        -webkit-animation-duration: 1700ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
}

.error-dsp {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #cf000f;
}

.not-logged-in {
    width: 100%;
    .flex;
    align-items: unset;

    .logo {
        width: 260px;
        height: 80px;
        position: absolute;
        top: 40px;
        left: 40px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .welcome-index {
        height: 50vh;
        width: 100%;
        background-image: url(img/header.jpg);
        background-position: center center;
        .flex;

        h1 {
            color: white;
            font-size: 42px;
        }
    }

    .skew-bar {
        width: 100%;
        height: 15vh;
        -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
        background-color: #ff7e1a;
        margin-top: -15vh;
        position: relative;
        top: 1px;
    }

    .cta-container {
        width: 100%;
        height: 50vh;
        .flex;
        align-items: center;
        background-color:@primairyOrange;

        h2 {
            color: white;
            font-size: 62px;
            margin: 0;
            width: 40%;
            text-align: center;
        }

        .call-to-actions {
            width: 100%;
            .flex;
            position: relative;
            z-index: 999;
            top: -20px;

            span {
                width: 100%;
                text-align: center;
                color: white;
                margin-top: 30px;
                font-family: @primairyfont;
                font-size: 20px;
            }

            .buttons {
                margin-top: 50px;
                width: 100%;
                .flex;

                .btn {
                    margin: 0;
                    background-color: white;
                    color: @primairyOrange;
                    font-weight: bold;
    
                    &:last-child {
                        margin-left: 20px;
                    }
                }
            }
        }
    }


    .page-overlay {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    .front-display-holder {
        background-color: white;
        padding: 35px 20px;
        width: 500px;
        border-radius: 5px;
        .flex;

        .top-bar-ui {
            width: 100%;
            .flex;
            justify-content: space-between;

            span {
                color: @headerColor;
                font-family: @primairyfont;
            }
            i {
                color: @textColor;
            }
        }

        #activation-status {
            font-size: 20px;
            margin-bottom: 0px;
            width: 100%;
            text-align: left;
            margin-top: 30px;
        }

        .help-text {
            color: @textColor;
            line-height: 24px;
        }

        .no-center {
            display: inline-flex;
            width: unset !important;
        }

        .cta {
            .btn {
                margin-top: 10px;
                max-width: 150px;
                min-width: 150px;
                font-size: 20px;
            }

            .index {
                font-size: 14px;
                color: #7a7a7a;
                margin-left: 10px;
            }
        }

        label {
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 5px;
            color: #7a7a7a;
            font-size: 15px;
        }

        .no-margin {
            margin-top: 0px;
        }
        
        input {
            width: 100%;
            padding: 12px 0 12px 10px;
            border: 1px solid #dedede;
            color: #6c7a89;
            font-size: 16px;
            outline: none;
        }

        .btn {
           display: inline-flex;
        }

        .toLogin {
            width: 100%;
            margin-top: 25px;
            color: @primairyOrange;
            font-size: 14px;
            text-align: center;
        }

        #output-response {
            font-size: 14px;
            margin-top: 10px;
            .flex;
            justify-content: flex-start;
            color: #7a7a7a;

            i {
                display: inline-flex !important;
                margin-right: 5px;
                font-size: 18px;
            }
        }

        

        .error, .false {
            color: #cf000f !important;
        }

        .succes, .true {
            color: #3fc380 !important;
        }

        .form-holder {
            width: 100%;
            .flex;

            form {
                width: 100%;
            }
        }

        .controls {
            width: 100%;
            .flex;
        }
    }

    .progress-bar {
        width: 100%;
        .flex;
    
        .steps {
            border-bottom: 1px solid #dedede;
            padding-bottom: 20px;
            .flex;
            justify-content: space-between;
            margin: 35px 0 35px 0;
            list-style-type: none;
            margin-left: 0px;
            padding-left: 0px;
            width: 100%;
            li {
                .flex;
                padding: 0 ;
                border-bottom: none;
                width: 33.3%;
                position: relative;

                &:first-child {
                    &:before {
                        content: "";
                        display: block;
                        width: 52px;
                        height: 3px;
                        position: absolute;
                        left: 0px;
                        top: 22px;
                        background-color: @primairyOrange;
                    }
                }

                &:last-child {
                    &:after {
                        content: "";
                        display: block;
                        width: 52px;
                        height: 3px;
                        position: absolute;
                        right: 0px;
                        top: 22px;
                        background-color: #dedede;
                    }
                }

                &:nth-child(2), &:nth-child(3) {
                    &:before {
                        content: "";
                        display: block;
                        width: 105px;
                        height: 3px;
                        background-color: #dedede;
                        position: absolute;
                        left: -52px;
                        top: 22px;
                    }
                }

                i {
                    background-color: #dedede;
                    color: white;
                    width: 45px;
                    height: 45px;
                    border-radius: 100%;
                    .flex;
                    font-size: 16px;
                }
                span {
                    width: 100%;
                    text-align: center;
                    margin-top: 10px;
                    font-size: 13px;
                    color: @textColor;
                }
            }

            .active {
                i {
                    background-color: @primairyOrange;
                }

                &:before, &:after {
                    background-color: @primairyOrange !important;
                }
            }
        }
    }

    .custom-step {
        p {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 24px;
            color: #7a7a7a;
        }

        .select-grid {
            width: 100%;

            ul {
                list-style-type: none;
                padding: 0;
                .flex;
                justify-content: space-between;

                li {
                    width: 40%;
                    margin: 15px 0;
                    border-bottom: 1px solid #dedede;
                    padding-bottom: 25px;
                    .flex;
                    justify-content: flex-start;
                    position: relative;

                    &:last-child {
                        border-bottom: 0px;
                        margin-bottom: 0px;
                    }

                    &:nth-last-child(2) {
                        border-bottom: 0px;
                        margin-bottom: 0px;
                    }

                    .allergy {
                        width: 100%;
                        margin: 0;
                        .flex;
                        justify-content: flex-start;
                        cursor: pointer;

                        label {
                            padding: 0;
                            margin: 0;
                            font-size: 16px;
                            width: 75%;
                            left: 40px;
                            cursor: pointer;
                            position: relative;
                        }

                        input[type=checkbox] {
                            opacity: 0;
                            z-index: 10;
                            width: 100%;
                            position: absolute;
                            cursor: pointer;
                        }

                        input[type=checkbox]:checked ~ .checkmark {
                            background-color: @primairyOrange;

                            i {
                                display: flex;
                            }
                        }

                        .checkmark {
                            width: 25px;
                            height: 25px;
                            background-color: #dedede;
                            position: absolute;
                            transition: 0.2s;
                            cursor: pointer;
                            .flex;

                            i {
                                color: white;
                                display: none;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }

        .controls {
            justify-content: space-between;
            .btn {
                margin-top: 0px;
            }

            .previous {
                background-color : #ffa25b;
            }
        }

        .household-sizer {
            width: 100%;
            margin-bottom: 50px;
            .flex;
            justify-content: space-evenly;

            .btn {
                width: 80%;
                font-size: 26px;
                margin-top: 35px;
                background-color: #dedede;

                span {
                    pointer-events: none;
                }
            }

            .house-size {
                font-size: 38px;
                display: block;
                text-align: center;
                color: @textColor;
                margin-top: 35px;
                width: 100%;
            }
        }
    }

    #registration-finished {
        .flex;

        .orange-dot {
            margin-top: 35px;

            i {
                color: @primairyOrange;
                font-size: 74px;
            }
        }

        h3 {
            color: @headerColor;
            line-height: 28px;
            text-align: center;
        }

        p {
            text-align: center;
        }

        .controls {
            justify-content: center;
            margin-top: 35px;

            span {
                width: 100%;
                font-size: 14px;
                text-align: center;
                
                &:first-child {
                    color: #7a7a7a;
                }
            }

            .btn {
                margin-top: 15px;
                span {
                    color: white;
                }
            }
        }
    }

    .pw-forgot {
        color: @primairyOrange;
        font-size: 14px;
    }
}


@media only screen and (max-width: 1400px) {
    .not-logged-in {

        .logo {
            width: 300px;
            height: 90px;
        }

        .cta-container {
            .call-to-actions {
                h2 {
                    width: 80%;
                }
            }
        }
    }
}

// BIG TABLETS
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    .not-logged-in {

        .cta-container {
            .call-to-actions {
                span {
                    margin-top: 20px;
                }

                .buttons {
                    margin-top: 30px;
                }

                h2 {
                    font-size: 56px;
                }
            }
        }

        .front-display-holder {
            width: 100% !important;
            height: 100%;
            border-radius: 0;
            max-height: unset;
            padding: 30px 30px;
            display: unset;

            .top-bar-ui {
                span {
                    font-size: 26px;
                }

                i {
                    font-size: 30px;
                }
            }

            .form-holder {
                margin-top: 40px;
            }

            label {
                font-size: 17px;
                margin-top: 30px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            input {
                padding: 15px 0 15px 15px;
            }

            #output-response, .error-dsp {
                font-size: 15.5px;
            }

            .btn {
                margin-top: 60px;
            }
    
            .progress-bar {
                margin-bottom: 20px;


                .steps {
                    margin-top: 0px;
                    li {

                        i {
                            position: relative;
                            z-index: 999;
                        }

                        &:first-child {
                            &:before {
                                width: 45%;
                            }
                        }

                        &:nth-child(2), &:nth-child(3) {
                            &:before {
                                left: -45%;
                                width: 90%;
                            }
                        }

                        &:last-child {
                            &:after {
                                width: 45%;
                            }
                        }
                    }
                }
            }

            .scrollable {
                height: 450px;
                overflow-x: scroll;
                padding-bottom: 50px;

            }

            #registration-finished {
                .orange-dot {
                    i {
                        font-size: 100px;
                    }
                }

                h3 {
                    font-size: 30px;
                    line-height: 42px;
                }

                p {
                    font-size: 17px;
                }

                #lbl {
                    font-size: 16px;
                }

                .btn {
                    span {
                        font-size: 16px;
                    }
                }
            }

            .toLogin {
                font-size: 16px;
                margin-bottom: 45px;
            }
            
            .custom-step {
                p {
                    font-size: 17px;
                    line-height: 26px;
                }

                .household-sizer {
                    margin-top: 15px;

                    .btn {
                        width: 30%;
                    }
                }
               

                .select-grid {
                    margin-bottom: 35px;
                    margin-top: 35px;
                    ul {
                        li {
                            width: 25%;
                            border-right: 1px solid #dedede;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 0px;

                            &:nth-child(4n +4) {
                                border-right: 0px;
                            }

                            &:nth-last-child(4), &:nth-last-child(3) {
                                border-bottom: 0px;
                            }
                            
                            .allergy {
                                justify-content: center;
                            }

                            label {
                                width: 100%;
                                text-align: center;
                                left: 0px;
                                justify-content: center;
                                margin-top: 85px;
                                font-size: 17px;
                            }

                            .checkmark {
                                border-radius: 100%;
                                width: 40px;
                                height: 40px;
                                top: 30px;
                            }  
                        }
                    }
                }
            }
        }
    }
}


// MEDIUM SCREEN TABLETS
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .not-logged-in {
        align-content: flex-start;

        .logo {
            width: 240px;
            height: 70px;
        }

        .welcome-index {
            background-position: 100% 60%;
        }

        .cta-container {
            .call-to-actions {
                h2 {
                    width: 80%;
                    font-size: 52px;
                }
                span {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .buttons {
                    margin-top: 30px;
                    .btn {
                        box-shadow: 0 0 101px rgba(48,46,76,.14);
                    }
                }
            }
        }

        .pw-forgot {
            font-size: 17px;
        }

        .front-display-holder {
            width: 100% !important;
            height: 100%;
            border-radius: 0;
            max-height: unset;
            padding: 30px 30px;
            display: unset;

            .top-bar-ui {
                span {
                    font-size: 26px;
                }

                i {
                    font-size: 30px;
                }
            }

            .form-holder {
                margin-top: 40px;
            }

            label {
                font-size: 17px;
                margin-top: 30px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            input {
                padding: 15px 0 15px 15px;
            }

            #output-response, .error-dsp {
                font-size: 15.5px;
            }

            .btn {
                margin-top: 60px;
            }
    
            .progress-bar {
                margin-bottom: 20px;

                .steps {
                    margin-top: 0px;
                    li {

                        i {
                            position: relative;
                            z-index: 999;
                        }

                        &:first-child {
                            &:before {
                                width: 45%;
                            }
                        }

                        &:nth-child(2), &:nth-child(3) {
                            &:before {
                                left: -45%;
                                width: 90%;
                            }
                        }

                        &:last-child {
                            &:after {
                                width: 45%;
                            }
                        }
                    }
                }
            }

            #registration-finished {
                .orange-dot {
                    i {
                        font-size: 100px;
                    }
                }

                h3 {
                    font-size: 30px;
                    line-height: 42px;
                }

                p {
                    font-size: 17px;
                }

                #lbl {
                    font-size: 16px;
                }

                .btn {
                    span {
                        font-size: 16px;
                    }
                }
            }

            .toLogin {
                font-size: 16px;
                margin-bottom: 45px;
            }
            
            
            .custom-step {
                p {
                    font-size: 17px;
                    line-height: 26px;
                }

                .household-sizer {
                    margin-top: 15px;

                    .btn {
                        width: 30%;
                    }
                }
               

                .select-grid {
                    margin-bottom: 65px;
                    margin-top: 65px;
                    ul {
                        li {
                            width: 33.33%;
                            border-right: 1px solid #dedede;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 0px;

                            &:nth-child(3n +3) {
                                border-right: 0px;
                            }

                            &:nth-last-child(3) {
                                border-bottom: 0px;
                            }
                            
                            .allergy {
                                justify-content: center;
                            }

                            label {
                                width: 100%;
                                text-align: center;
                                left: 0px;
                                justify-content: center;
                                margin-top: 85px;
                                font-size: 17px;
                            }

                            .checkmark {
                                border-radius: 100%;
                                width: 40px;
                                height: 40px;
                                top: 30px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1024px) and (min-width: 769px) and(orientation: portrait) {
    .not-logged-in {
        .front-display-holder {

            .scrollable {
                height: unset;
                overflow-y: unset;
                overflow-x: unset;
            }
        }
    }
}

@media only screen and(max-width: 768px) and (min-width: 632px) {
    .not-logged-in {
        align-content: flex-start;

        .welcome-index {
            background-position: 100% 60%;
        }

        .cta-container {
            .call-to-actions {
                h2 {
                    width: 80%;
                    font-size: 50px;
                }
                span {
                    width: 70%;
                    font-size: 22px;
                    margin-top: 20px;
                }

                .buttons {
                    margin-top: 30px;
                }
            }
        }

        .front-display-holder {
            width: 100% !important;
            height: 100%;
            border-radius: 0;
            max-height: unset;
            padding: 30px 30px;
            display: unset;

            .top-bar-ui {
                span {
                    font-size: 26px;
                }

                i {
                    font-size: 30px;
                }
            }

            .form-holder {
                margin-top: 40px;
            }

            label {
                font-size: 17px;
                margin-top: 30px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            input {
                padding: 15px 0 15px 15px;
            }

            #output-response, .error-dsp {
                font-size: 15.5px;
            }

            .btn {
                margin-top: 60px;
            }
    
            .progress-bar {
                margin-bottom: 20px;

                .steps {
                    margin-top: 0px;
                    li {

                        i {
                            position: relative;
                            z-index: 999;
                        }

                        &:first-child {
                            &:before {
                                width: 45%;
                            }
                        }

                        &:nth-child(2), &:nth-child(3) {
                            &:before {
                                left: -45%;
                                width: 90%;
                            }
                        }

                        &:last-child {
                            &:after {
                                width: 45%;
                            }
                        }
                    }
                }
            }

            #registration-finished {
                .orange-dot {
                    i {
                        font-size: 100px;
                    }
                }

                h3 {
                    font-size: 30px;
                    line-height: 42px;
                }

                p {
                    font-size: 17px;
                }

                #lbl {
                    font-size: 16px;
                }

                .btn {
                    span {
                        font-size: 16px;
                    }
                }
            }

            .toLogin {
                font-size: 16px;
                margin-bottom: 45px;
            }
            
            .controls {
                margin-bottom: 50px;
            }
            
            .custom-step {
                p {
                    font-size: 17px;
                    line-height: 26px;
                }

                .household-sizer {
                    margin-top: 15px;

                    .btn {
                        width: 30%;
                    }
                }
               

                .select-grid {
                    margin-bottom: 65px;
                    margin-top: 65px;
                    ul {
                        li {
                            width: 33.33%;
                            border-right: 1px solid #dedede;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 0px;

                            &:nth-child(3n +3) {
                                border-right: 0px;
                            }

                            &:nth-last-child(3) {
                                border-bottom: 0px;
                            }
                            
                            .allergy {
                                justify-content: center;
                            }

                            label {
                                width: 100%;
                                text-align: center;
                                left: 0px;
                                justify-content: center;
                                margin-top: 85px;
                                font-size: 17px;
                            }

                            .checkmark {
                                border-radius: 100%;
                                width: 40px;
                                height: 40px;
                                top: 30px;
                            }  
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 630px) and (min-width: 320px) {
    .not-logged-in {
        align-content: flex-start;

        .welcome-index {
            background-position: 100% 155%;
            height: 40vh;
            background-size: 150%;
        }

        .logo {
            width: 200px;
            height: 60px;
            display: none;
        }

        input {
            border-radius: 0;
        }

        .cta-container {
            height: 60vh;
            .call-to-actions {
                top: 0;
                h2 {
                    width: 90%;
                    font-size: 40px;
                }
                span {
                    width: 90%;
                    font-size: 18px;
                }

                .buttons {
                    margin-top: 40px;
                    .btn {
                        padding: 18px 0;
                        width: 90%;
                        margin-bottom: 15px;

                        &:last-child {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }

        .front-display-holder {
            width: 100%;
            height: 100%;
            border-radius: 0;
            align-items: flex-start;
            overflow: hidden;


            .top-bar-ui {
                padding-top: env(safe-area-inset-top);
            }

            .form-holder {
                height: 100%;
                align-items: flex-start;
            }

            .progress-bar {
                width: 100%;
                justify-self: center;
                margin-top: 25px;

                .steps {
                    margin-top: 0px;
                    li {
                        &:first-child {
                            &:before {
                                width: 32%;
                            }
                        }

                        span {
                            font-size: 2.8vw;
                        }

                        &:nth-child(2), &:nth-child(3) {
                            &:before {
                                width: 68%;
                                left: -35%;
                            }
                        }

                        i {
                            position: relative;
                            z-index: 999;
                        }
                    }
                }
            }    

            .scrollable {
                height: 600px;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .custom-step {
                .select-grid {
                    margin-bottom: 50px;
                    margin-top: 40px;
                    ul {
                        li {
                            width: 50%;
                            border-right: 1px solid #dedede;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            margin-right: 0px;

                            &:nth-child(2n +2) {
                                border-right: 0px;
                            }
                            
                            .allergy {
                                justify-content: center;
                            }

                            label {
                                width: 100%;
                                text-align: center;
                                left: 0px;
                                justify-content: center;
                                margin-top: 85px;
                                font-size: 17px;
                            }

                            .checkmark {
                                border-radius: 100%;
                                width: 40px;
                                height: 40px;
                                top: 30px;
                            }  
                        }
                    }
                }

                .household-sizer {
                    .btn {
                        width: 40%;
                    }
                }

                .controls {
                    justify-content: center;
                    padding-bottom: 30px;
                    .btn {
                        width: 80%;

                        &:last-child {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .toLogin {
        padding-bottom: 20px;
    }
    
    .center {
        width: 90% !important;
    }
}